body {
  /* background-color: rgb(233, 230, 230); */
  padding: 0px;
  margin: 0px;
}
.nav-item {
  margin-left: 20px;
}
#logout {
  font-size: 13px;
  padding: 5px;
}
.btn:hover {
  color: blue;
}
input {
  padding: 0px;
  margin-top: 7px;
}
select {
  margin-top: 7px;
}
#register-form {
  height: 75vh;
}
img {
  width: 100vw;
  height: 100vh;
  position: absolute;
  background-repeat: no-repeat;
  background-size: cover;
}

.imgg:before {
  content: "";
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: linear-gradient(to bottom right, #000, #000);
  opacity: 0.5;
}
